*{
    font-family: lato, arial, sans-serif;
}
body, h1, form, input, button, #anchor_wrap, fieldset{
    display: block;
    float: left;
    position: relative;
}
html{
    background: linear-gradient(#1DA1DA, #1870AE) repeat scroll 0% 0% transparent;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-image: url('../../CIS_4050/images/msulogo2.png');
    background-size: 400px 250px;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100%;
}
#wrapper{

    width: 40%;
    margin: 0 30%;
    padding: 0;
}
#wrapper2{

    width: 90%;
    margin: 0 5%;
    padding: 0;
}
h1, h2, p{
    width: 80%;
    margin: 40px 10% 0 10%;
    text-align: center;
    color: #fafafa;
    letter-spacing: .05em;
    font-weight: 300;
}
h2{
    margin: 0px 10%
}
form{
    width: 100%;
    margin: 50px 0;
    padding: 0;
}
fieldset{
    width: 50%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
input{
    clear: left;
    width: 100%;
    min-width: 450px;
    margin: 10px 0 10px 0;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #666666;
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    text-indent: 10px;
}
input:hover{
    border: 1px solid #5eedb5;
}
button{
    width: 60%;
    min-width: 220px;
    margin: 40px 20% 0 20%;
    height: 40px;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #5eedb5;
    border-top: .5px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    border-radius: 5px;

}
#anchor_wrap{
    width: 100%;
    margin: 10px 0;
    padding: 0;

}
a{
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 80% !important;
    margin: 0 10%;
    line-height: 35px;
    padding: 0;
    height: 35px;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 18px;
    background-color: rgba(255,255,255,.4);
    text-transform: uppercase;
    border-top: .5px solid #5eedb5;
    border-bottom: 2px solid #5eedb5;
    border-radius: 5px;
    text-decoration: none;

}
a:hover{
    color: #5eedb5;
    border-top: .5px solid #fafafa;
    border-bottom: 2px solid #fafafa;
}
button:hover{
    color: #444444;
    border-top: .5px solid #444444;
    border-bottom: 2px solid #444444;
}
