*{
    font-family: lato, arial, sans-serif;
}
body, h1, form, input, button, #anchor_wrap, fieldset, #wrap-left, #wrap-center, legend, #wrapper2{
    display: block;
    float: left;
    position: relative;
}

html{
    background: linear-gradient(#1DA1DA, #1870AE) repeat scroll 0% 0% transparent;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 1100px !important;
}
body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-image: url('../../CIS_4050/images/msulogo2.png');
    background-size: 400px 250px;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100%;
}
#wrapper2{

    width: 90%;
    margin: 0 5%;
    padding: 0;
}
h1, h2{
    width: 80%;
    margin: 40px 10% 0 10%;
    text-align: center;
    color: #fafafa;
    letter-spacing: .05em;
    font-weight: 300;
}
h2{
    margin: 0px 10%
}
form{
    width: 100%;
    margin: 50px 0;
    padding: 0;
}
fieldset{
    outline: none;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
#wrap-left{
    width: 40%;
    margin: 0 5%;
    padding: 0;
    outline: none;
    border: none;
}
#wrap-right{
    display: block;
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    position: relative;
}
#wrap-center{
    width: 40%;
    margin: 30px 30% 0 30%;
    padding: 0;
    outline: none;
    border: none;
}
legend{
    width: 100%;
    color: #fafafa;
    border-bottom: 1px solid orange;
    font-size: 18px;
    margin: 5px 0 0 0;
    
}
input{
    clear: left;
    width: 100%;
    min-width: 300px;
    margin: 10px 0 10px 0;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #666666;
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    text-indent: 10px;
    background-color: #ffffff;
    transition: background-color .3s ease-out 0s;
}
input:hover{
    border: 1px solid orange;
    background-color: #444444;
    color: #ffffff !important;
    transition: background-color .3s ease-in 0s;
}
input:focus{
    border: 1px solid #5eedb5;
    background-color: #444444;
    color: #ffffff !important;
}
#login-button, #profile-button{
    width: 40%;
    margin: 40px 30% 40px 30%;
    height: 40px;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #5eedb5;
    border-top: .5px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    border-radius: 5px;

}
#anchor_wrap{
    width: 100%;
    margin: 10px 0;
    padding: 0;

}
#anchor-wrap a{
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 80% !important;
    margin: 0 10%;
    line-height: 35px;
    padding: 0;
    height: 35px;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 18px;
    background-color: rgba(255,255,255,.4);
    text-transform: uppercase;
    border-top: .5px solid #5eedb5;
    border-bottom: 2px solid #5eedb5;
    border-radius: 5px;
    text-decoration: none;

}

#login-button:hover, #profile-button:hover{
    color: #444444;
    border-top: .5px solid #444444;
    border-bottom: 2px solid #444444;
}
#departments{
    display: block;
    float: left;
    width: 80%;
    margin: 10px 10%;
    padding: 0;
}
#departments p{
    width: 80%;
    margin: 10px 10% 10px 10%;
    text-align: center;
    color: #fafafa;
    letter-spacing: .05em;
    font-weight: 300;
}
.ui-button-text{
    font-size: 16px;
}
.ui-button {
    float: left;
    width: 20%;
    min-width: 60px;
    
    border: 1px solid #e6e6e6 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    margin: 0;
    padding: 0;
    height: 35px;
    float: left;
}
.ui-button.ui-widget.ui-state-active, .submit-section button:hover{
   color: #fafafa !important;
    border: 1px solid #fafafa !important;
    background: #444;
    background-image: -moz-linear-gradient(#1da1da, #333333);
    background-image: linear-gradient(#1da1da, #333333);
}
#mkt-wrap{
    display: none !important;
}